name: Automatic Version Synchronization

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Daily at midnight

env:
  PYTHON_VERSION: "3.14"

jobs:
  get-current-local-meilisearch-docker-version:
    runs-on: ubuntu-latest

    steps:
      - &checkout-code
        name: Checkout code (shallow)
        uses: actions/checkout@v5

      - name: Get current local Meilisearch Docker version
        id: get-local-version
        run: |
          LOCAL_VERSION=$(sed -nE 's/^FROM[[:space:]]+getmeili\/meilisearch:([^[:space:]]+).*/\1/p' Dockerfile)
          if [ -z "$LOCAL_VERSION" ]; then
            echo "Failed to extract Meilisearch image tag from Dockerfile." >&2
            exit 1
          fi
          echo "local_version=$LOCAL_VERSION" >> "$GITHUB_OUTPUT"

  get-newest-meiliseach-docker-version:
    runs-on: ubuntu-latest
    needs:
      - get-current-local-meilisearch-docker-version

    steps:
      - *checkout-code

      - &setup-python
        name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: "pip"
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Synchronize versions
        run: python infrastructure/sync-versions/cli.py --local-version ${{ needs.get-current-local-meilisearch-docker-version.outputs.local_version }}
