name: Semantic Versioning and Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  semantic-release:
    name: Semantic Versioning and Release
    runs-on: ubuntu-latest

    permissions:
      issues: write
      contents: write
      id-token: write
      pull-requests: write

    steps:
      - name: Create temporary GitHub App Token
        id: app
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.HOUSEKEEPING_BOT_APP_ID }}
          private-key: ${{ secrets.HOUSEKEEPING_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout and setup
        uses: alchemaxinc/composite-toolbox/checkout-and-setup@v1
        with:
          token: ${{ steps.app.outputs.token }}

      - name: Version and release
        uses: alchemaxinc/composite-toolbox/semantic-release@v1
        with:
          token: ${{ steps.app.outputs.token }}
